body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.highlight-name {
    color: orange;
}

.container-second {
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 5%;
}

.container-second img {
    width: 100%;
}